@import "compass/css3";

body {
  margin: 0;
}

.grid {
  width: 100%;
  display: inline-block;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*='col-'] {
    float: left;
    height: 900px;
    padding-right: 20px;
    padding-left: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .col-1-3 {
    width: 33.33%;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-8 {
    width: 12.5%;
  }
  .col-7-8 {
    width: 87.5%;
  }

}

button {
  width: 25%;
  height: 50px;
  margin: 5px;
  border: none;
  color: white;
  background-color: #CC3300;
  cursor: pointer;
  left: auto;
  right: auto;
  font-size: 26px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;

  &:hover, &:focus {
    background-color: lighten(#CC3300, 5%);
  }

  &.checked {
    background-color: #008A2E;

    &:hover, &:focus {
      background-color: lighten(#008A2E, 5%);
    }
  }
}


#car-parks-button {
  background-image:url(/images/white/car.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#bus-stops-button {
  background-image:url(/images/white/busstop.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#buses-button {
  background-image:url(/images/white/bus.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#train-stations-button {
  background-image:url(/images/white/train.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.controls {
  margin-top: 60px;
  padding-left: 60px;
  position: relative;
  &:after {
    content: "Toggle...";
    position: absolute;
    font-family: sans-serif;
    color: #CCC;
    top: -20px;
    left: 15%;
  }
}

.logo {
  text-align: center;
  font-size: 100px;
  margin-bottom: 0;
}
.sub-heading {
  text-transform: uppercase; 
  font-weight: 100;
  font-family: sans-serif;
  color: #CCC;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 0;
}

.infobox {
  overflow: hidden;
}

.finder {
  margin-top: 50px;
  padding-left: 60px;

  position: relative;
  &:after {
    content: "Or, pick a Metroshuttle and Bus Stop...";
    position: absolute;
    font-family: sans-serif;
    color: #CCC;
    top: -20px;
    left: 15%;
  }
  .route-finder, .stop-finder {
  }
  .route-finder {
    width: 80%;
  }
  .stop-finder {
    width: 80%;
  }
}


.departures-board {
  background-color: transparent;
  position: absolute;
  width: 66.66%;
  height: 300px;
  left: -9999px;
  top: -9999px;

  &.active {
    background-color: white;
    box-shadow: -2px 0px 10px 1px #888;
    top: 450px;
    left: 33.33%;
  }

  .hide-button {
    font-family: sans-serif;
    font-size: 55px;
    color: #CCC;
    font-weight: 100;
    height: 100%;
    position: relative;

    &:after {
      content: "<";
      position: absolute;
      top: 120px;
      left: 40px;
    }

    &:hover, &:focus {
      background-color: #CCC;
      color: #888;
    }
  }
  .buses-listing {
    height: 100%;
    h2 {
      font-family: sans-serif;
      color: #333;
      font-weight: bold;
    }
    > ul {
      font-family: sans-serif;
      list-style: none;
      padding-left: 0;
      > li {
        margin: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    span {
      font-family: sans-serif;
    }
    .routeName {
      font-size: 22px; 
    }
    .expectedIn {

    }
    .depTime {

    }
  }

}
