extends layout

block content
  .grid
    .col-1-3
      h1.logo Travel  Hub
      h2.sub-heading Manchester
      .controls
        button#car-parks-button.checked
        button#buses-button.checked
        button#bus-stops-button.checked
      .finder
        select.route-finder
          option 1
          option 2
          option 3
        br
        select.stop-finder

    .col-2-3#map_canvas
    .approaching-buses.grid
      #hide-button.hide-button.col-1-8
      .buses-listing.col-7-8
