extends layout

block content
  .grid
    .col-1-3
      h1.logo Travel  Hub
      h2.sub-heading Manchester
      .controls
        label Car Parks
          input.left#carparks(type="checkbox", checked)
        br
        label Buses
          input.left#buses(type="checkbox", checked)
        br
        input#redraw(type="button", value="Redraw")
        input#clear(type="button", value="Clear")
    .col-2-3#map_canvas
