extends layout

block content
  .grid
    .col-1-3
      h1.logo Travel  Hub
      h2.sub-heading Manchester
      .controls
        button#car-parks-button.checked Car Parks
        button#buses-button.checked Buses
        button#bus-stops-button.checked Bus Stops
      .finder
        select.route-finder
          option 1
          option 2
          option 3
        select.stop-finder

    .col-2-3#map_canvas
